header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 520px;
  width: 100%;
  background-image: url("../images/blu-stripes.png");
  background-color: #ffb30f;
}