header {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  align-items: center;
  height: 520px;
  background-image: url("../images/blu-stripes.png");
  background-color: #ffb30f;
  justify-content: center;
}


@media (max-width:600px){
  header{
    width: 100%; 
    justify-content: end;
    flex-direction: column;
  }
}

div h2{
  display: flex;
  justify-content: center;
}